<table style="font-family:Verdana, Helvetica, sans-serif; color: {{fontcolor}}; background-color: {{signaturecolor}}; padding: 20px 40px; border-style: {{selectborderstyle}}; border-color: {{bordercolor}}; border-style: {{selectborderstyle}}; border-collapse: inherit;" cellpadding="0" cellspacing="0" >
    <tbody>
        <tr>
            <td style="width:140px; padding:0; font-family:Verdana; text-align:center; vertical-align:middle;" valign="middle" width="140">
                <a href="{{logo_url}}" target="_blank">                                      
                    <img ng-src="{{filepreview}}" 
                    style="border-radius: {{photoshape}}; height:{{photosize}}px; width:{{photosize}}px; border:0; min-height: 30px; min-width: 30px;" border="0" 
                    class="img-responsive" ng-show="filepreview"/>
                </a>
            </td>
            <td style="font-family:Verdana; border-bottom:2px solid #ed5a24; padding:0; vertical-align:top;" valign="top">
                <table style="font-family:Verdana, Helvetica, sans-serif;" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="font-family:Verdana; padding-bottom:6px; padding-top:0; padding-left:0; padding-right:0; vertical-align:top;" valign="top">
                                <strong><span style="font-family:Verdana; color:#ed5a24; font-size:14pt; font-style:italic;">{{customer_name}}</span></strong><br> <span style="font-family:Verdana; color:#ed5a24; {{signfontsize}}px;">{{title}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-family:Verdana; padding-bottom:6px; padding-top:0; padding-left:0; padding-right:0; line-height:18px; vertical-align:top;" valign="top">                                
                                <span style="font-family:Verdana; {{signfontsize}}px;">phone: {{phone}}<span style="font-family:Verdana; {{signfontsize}}px;"> | </span> </span>
                                <span style="font-family:Verdana; {{signfontsize}}px;">mobile: {{mobile_phone}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-family:Verdana; padding-bottom:6px; padding-top:0; padding-left:0; padding-right:0; line-height:18px; vertical-align:top;" valign="top">
                                <span style="font-family:Verdana; {{signfontsize}}px;">{{company}}, </span>
                                <span style="font-family:Verdana; {{signfontsize}}px;">{{addr_line1}}</span>
                                <span style="font-family:Verdana; {{signfontsize}}px;">{{addr_line2}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-family:Verdana; width:140px; padding-top:6px; padding-left:0; padding-right:0; text-align:center; vertical-align:middle;" valign="middle" width="140">
               <span data-ng-repeat="icon in initialIcons">
                    <a href="{{icon.name}}" target="_blank" ng-show="icon.name">
                        <img border="0" alt="{{icon.icon}} icon" 
                        style="border:0; height:{{sizeicon}}; width:{{sizeicon}}" 
                        src="{{public_path}}/images/social_icons/{{icon.icon}}.png">
                    </a>
                </span> 
            </td>
            <td style="padding-top:6px; padding-bottom:0; padding-left:0; padding-right:0; font-family:Verdana; vertical-align:middle;" valign="middle">
                <a href="http://{{website_url}}" target="_blank" style="color:#ed5a24; font-family:Verdana; font-size:10pt">{{website_url}}</a>
            </td>
        </tr>
    </tbody>
</table>